<section data-ng-controller="AboutController">
    <header class="intro-header" style="background-image: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 80, 0.4)), url('/modules/core/img/header-bg-4')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>About the Trainer</h1>
                        <hr class="small">
                        <span class="subheading">I Play With Horses And Stuff</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <iframe class="video-preview" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d21056.458932539488!2d-122.4866062!3d48.7234955!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1458617152186" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>Located on a ranch somewhere, I do stuff. Pay me money please. Training rates vary depending on whatever.</p>
                <hr>
            </div>
        </div>
    </div>
</section>