<section data-ng-controller="TrainingController">
    <header class="intro-header darken-image" style="background-image: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 80, 0.4)), url('/modules/core/img/header-bg-3'); background-position: 15% 10%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Calendar</h1>
                        <hr class="small">
                        <span class="subheading">Toilet Training for Horses</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>words words words wordswordswords words wordswordswordswordswords words wordswords  words words words ordswords words wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words words ordswords words wordswords  words words wordsordswords words wordswords  words words words</p>

                    <p>words words words wordswordswords words wordswordswordswordswords words wordswords  words words words ordswords words wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words wo</p>

                    <p>rds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <p>rds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <h2 class="section-heading">A Section Title</h2>

                    <p>rds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words wordrds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <p>rds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words wordrds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <blockquote class="blockquote-reverse"><p>A quote rds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p><footer>A person</footer></blockquote>

                    <p>rds wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <h2 class="section-heading">Another Title</h2>

                    <p>wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words wordwordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <p>wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words wordwordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <p>wordswords  words words wordsordswords words wordswords  words words wordsordswords words wordswords  words words word</p>

                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>