<section data-ng-controller="HorsesController">
    <header class="intro-header" style="background-image: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 80, 0.4)), url('/modules/core/img/Image-5'); background-position: 25% 25%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Contact</h1>
                        <hr class="small">
                        <span class="subheading">ABCD</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div>
                        <img style="float:left; width:300px; height:300px;" src="http://www.howtodrawanimals.net/images/horse-bad.gif" />
                        <h2>Horse 1</h2>
                        <p>This former unicorn lost its horn :(</p>
                    </div>

                    <div style="clear:both;" />
                    <hr>

                    <div>
                        <img style="float:left; width:300px; height:300px;" src="http://i.imgur.com/D2Vojbv.png" />
                        <h2>Horse 2</h2>
                        <p>This is a better drawing.</p>
                    </div>

                    <div style="clear:both;" />
                    <hr>

                    <div>
                        <img style="float:left; width:300px; height:300px;" src="http://orig12.deviantart.net/224c/f/2012/313/7/2/untitled_drawing_by_whiteligtning-d5khhqa.png" />
                        <h2>Horse 3</h2>
                        <p>not a real horse</p>
                    </div>

                    <div style="clear:both;" />
                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>
