<section data-ng-controller="ContactController">
    <header class="intro-header darken-image" style="background-image: url('/modules/core/img/logo');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Contact</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h3>McKenzie Tobeck</h3>
                    <p class="justified-indent">Phone: (253) 592-1237</p>
                    <p class="justified-indent">TobeckPerformanceHorses@outlook.com</p>
                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>
