<section data-ng-controller="FacilitiesController">
    <header class="intro-header" style="background-image: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 80, 0.4)), url('/modules/core/img/header-bg-4')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Facilities at Journeywood Farms</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">
                <!-- <div>
                    <iframe class="video-preview" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d21056.458932539488!2d-122.4866062!3d48.7234955!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1458617152186" frameborder="0" allowfullscreen></iframe>
                </div> -->
                <div class="pull-left">
                    <h1>The Barn</h1>
                    <ul>
                        <li>
                            Fourty-four Stalls with Mats
                        </li>
                        <li>
                            Covered Arena &mdash; 70' x 160'
                        </li>
                        <li>
                            Viewing Area looking into Arena
                        </li>
                        <li>
                            Heated Wash Rack
                        </li>
                        <li>
                            Two Grooming Stalls with Mats
                        </li>
                    </ul>
                </div>

                <div class="pull-right">
                    <h1>The Outdoor Facilities</h1>
                    <ul>
                        <li>
                            Five Run-Style Turnout Paddocks
                        </li>
                        <li>
                            Three Large Pastures
                        </li>
                        <li>
                            Round Pen
                        </li>
                    </ul>
                </div>
                <hr class="clear">
            </div>
        </div>
    </div>
</section>