<section data-ng-controller="FooterController">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://www.facebook.com/tobeckperformancehorses/">
                            <img class="footer-logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tobeckperformancehorses/">
                            <img class="footer-logo" src="http://alexandermannsolutions.com/img/logo-instagram-colour.png"/>
                        </a>
                    </li>
                </ul>
                <h5 class="copyright">Copyright &copy; Tobeck Performance Horses 2016</h5>
            </div>
        </div>
    </div>
</section>