<div class="container-fluid" ng-controller="HeaderController">
    <nav class="navbar navbar-default navbar-custom navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="toggleCollapsibleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/">Tobeck Performance Horses</a>
            </div>

            <div class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#!/news">News</a>
                    </li>
                    <li>
                        <a href="/#!/sales">Sales</a>
                    </li>
                    <li>
                        <a href="/#!/services">Calendar & Services</a>
                    </li>
                    <li>
                        <a href="/#!/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
