<section data-ng-controller="HomeController">    
    <header class="intro-header" style="background-image: linear-gradient(rgba(0,0,80,{{ page.header.darkened }}), rgba(0,0,80, {{page.header.darkened }})), url('{{ getResource(page.header.image) }}'); background-position: 0% {{ page.header.position }}%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading" ng-if="!editing">
                        <h1>{{ page.header.heading }}</h1>
                        <hr class="small">
                        <span class="subheading" ng-if="page.header.subheading !== ''">{{ page.header.subheading }}</span>
                    </div>

                    <div class="site-heading" ng-if="editing">
                        <fieldset class="form-group">
                            <label for="headingEdit">Edit Heading</label>
                            <input type="text" class="form-control" value="{{ page.header.heading }}" ng-model="page.header.heading"></input>
                        </fieldset>
                        
                        <fieldset class="form-group">
                            <label for="subheadingEdit">Edit Subheading</label>
                            <input type="text" class="form-control" value="{{ page.header.subheading }}" ng-model="page.header.subheading"></input>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="imageEdit">Edit Background Image</label>
                            <input type="text" class="form-control" value="{{ page.header.image }}" ng-model="page.header.image"></input>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="positionEdit">Edit Background Position</label>
                            <input type="text" class="form-control" value="{{ page.header.position }}" ng-model="page.header.position"></input>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="darkenedEdit">Edit Background Darkening</label>
                            <input type="text" class="form-control" value="{{ page.header.darkened }}" ng-model="page.header.darkened"></input>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article ng-if="authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div ng-show="error" class="text-center text-danger">
                        <strong ng-bind="error"></strong>
                    </div>

                    <button class="btn btn-success pull-right" ng-click="editPage()" ng-if="!editing && page !== null"><span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger pull-right" ng-click="cancelEdit()" ng-if="editing"><span class="glyphicon glyphicon-share-alt"></span></button>
                    <button class="btn btn-success pull-right" ng-click="savePage()" ng-if="editing"><span class="glyphicon glyphicon-save"></span></button>

                    <div ng-if="editing">
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'text')">Text <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'image')">Image <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'video')">Video <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'quote')">Quote <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'section')">Section <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'hr-lg')">Long Divider <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="addItem(-1, 'hr-sh')">Short Divider <span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>

                    <div ng-repeat="item in page.data">
                        <div ng-if="!editing">
                            <p ng-if="item.desc === 'text'" class="justified-indent">{{ item.value }}</p>

                            <img ng-if="item.desc === 'image'" class="inline-img pull-right" ng-src="{{ getResource(item.value) }}"></img>

                            <iframe ng-if="item.desc === 'video'" class="video-preview" ng-src="{{ getResource(item.value) }}" allowfullscreen frameborder="0">Unfortunately your browser does not support iframes.</iframe> 

                            <blockquote ng-if="item.desc === 'quote'" class="blockquote">{{ item.value }}</blockquote>

                            <h1 ng-if="item.desc === 'section'">{{ item.value }}</h1>

                            <hr ng-if="item.desc === 'hr-lg'">

                            <hr ng-if="item.desc === 'hr-sh'" class="small-dark">
                        </div>

                        <div ng-if="editing" class="clear">
                            <fieldset class="form-group" ng-if="item.desc === 'text'">
                                <label for="textEdit">Edit Text</label>
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <textarea class="form-control" ng-model="item.value">{{ item.value }}</textarea>
                            </fieldset>
                            
                            <fieldset class="form-group" ng-if="item.desc === 'image'">
                                <label for="imageEdit">Edit Image</label>
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <input type="text" class="form-control" value="{{ item.value }}" ng-model="item.value"></input>
                            </fieldset>
                            
                            <fieldset class="form-group" ng-if="item.desc === 'video'">
                                <label for="videoEdit">Edit Video</label>
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <input type="text" class="form-control" value="{{ item.value }}" ng-model="item.value"></input>
                            </fieldset>

                            <fieldset class="form-group" ng-if="item.desc === 'quote'">
                                <label for="quoteEdit">Edit Quote</label>
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <textarea class="form-control" ng-model="item.value">{{ item.value }}</textarea>
                            </fieldset>

                            <fieldset class="form-group" ng-if="item.desc === 'section'">
                                <label for="sectionEdit">Edit Section Title</label>
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <input type="text" class="form-control" value="{{ item.value }}" ng-model="item.value"></input>
                            </fieldset>

                            <fieldset class="form-group" ng-if="item.desc === 'hr-lg'">
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <hr>
                            </fieldset>

                            <fieldset class="form-group" ng-if="item.desc === 'hr-sh'">
                                <button class="btn btn-danger btn-sm pull-right" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
                                <hr class="small-dark">
                            </fieldset>

                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'text')">Text <span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'image')">Image <span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'video')">Video <span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'quote')">Quote <span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'section')">Section <span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'hr-lg')">Long Divider <span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button class="btn btn-info btn-sm" ng-click="addItem($index, 'hr-sh')">Short Divider <span class="glyphicon glyphicon-plus-sign"></span></button>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </article>

    <article ng-if="!authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div ng-show="error" class="text-center text-danger">
                        <strong ng-bind="error"></strong>
                    </div>

                    <div ng-repeat="item in page.data">
                        <p ng-if="item.desc === 'text'" class="justified-indent">{{ item.value }}</p>

                        <img ng-if="item.desc === 'image'" class="inline-img pull-right" ng-src="{{ getResource(item.value) }}"></img>

                        <iframe ng-if="item.desc === 'video'" class="video-preview" ng-src="{{ getResource(item.value) }}" allowfullscreen frameborder="0">Unfortunately your browser does not support iframes.</iframe> 

                        <blockquote ng-if="item.desc === 'quote'" class="blockquote">{{ item.value }}</blockquote>

                        <h1 ng-if="item.desc === 'section'">{{ item.value }}</h1>

                        <hr ng-if="item.desc === 'hr-lg'">

                        <hr ng-if="item.desc === 'hr-sh'" class="small-dark">
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>
