<section data-ng-controller="HomeController">    
    <header class="intro-header" style="background-image: linear-gradient(rgba(20, 20, 80, 0.4), rgba(20, 20, 80, 0.4)), url('/modules/core/img/Image-6'); background-repeat: no-repeat; background-position: 15% 15%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Tobeck Performance Horses</h1>
                        <hr class="small">
                        <span class="subheading">Making Horses out of Ponies</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1>
                        About
                    </h1>
                    <p>
                        Sitting at the base of Mount Rainier, Journeywood Farms is centrally located in Eatonville, Washington about fifty minutes south east of Seattle and Seattle-Tacoma International Airport, as well as roughly two hours from the Portland airport. 
                    </p>
                    <p>
                        The farm is fifteen acres in total consisting of three large pastures; five run style turnouts, forty-four stalls, round pen and an indoor arena. With round-the-clock care, the horses at Journeywood Farms enjoy a nice mixture of first-class indoor and outdoor care that meets the needs of each horse.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>
