<section data-ng-controller="TrainingController">
    <header class="intro-header darken-image" style="background-image: url('/modules/core/img/logo');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Sales</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading">
                    Superman WAF: 2009 Half-Arabian Gelding &mdash; Pension x Promises PR</h2>
                    <p class="left-right-indent">
                        <strong>"Clark"</strong> is a sporty English Pleasure prospect. By multi-national champion Pension and out of the dam of multi-national champion Spiderman D, this gelding is destined for greatness. He has been started and is extremely smart and easy to work with.
                    </p>
                    <h2 class="section-heading">
                    Malaysia CC: 2011 Half-Arabian Mare &mdash; The Arssonist x Gypsy Bey Genie</h2>
                    <p class="left-right-indent">
                        <strong>"Sissy"</strong> is an extremely beautiful hunter/western prospect. She is a very round and fluid mover and has an even ground covering stride. She has been started on the ground and is easy to deal with. A full sister to Multi-National Champion Bombey CC; she is destined to be in the winner's circle.
                    </p>
                    <h2 class="section-heading">You Go Girl: 1996 American Saddlebred Mare &mdash; Radiant Sultan x With a Passion  (full sister to Attache's Thunderbolt)</h2>
                    <p class="left-right-indent">
                        <strong>"Girl"</strong> is a stunning broodmare with an extremely long and hooky neck, great ears, and a beautiful expression. She is loaded with motion and is extremely kind. She is a proven broodmare and passes on her beauty and kindness to her foals.
                    </p>
                    <h2 class="section-heading">Savn Roses: 2006 Arabian Mare &mdash; Pension x Matelleste</h2>
                    <p class="left-right-indent">
                        <strong>"Rosie"</strong> is a beautiful dark bay mare with a lot of go and great headset. She has been shown successfully at the regional and local levels, and is also a great lesson horse. She would make an exceptional broodmare that could cross to almost any stallion in the market today.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>