<section data-ng-controller="ServicesController">
    <header class="intro-header darken-image" style="background-image: url('/modules/core/img/logo');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Calendar & Services</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1>2016 Calendar</h1>
                    <img src="modules/core/img/calendar-services-body-3" class="inline-img pull-right"></img>
                    <ul>
                        <li>Daffodil Spring Show &mdash; April 29th - May 1st</li>
                        <li>AHACO Arabian Show Concurrent &mdash; May 20th - May 22nd</li>
                        <li>Mid Summer Classic &mdash; June 9th - June 12th</li>
                        <li>Region IV Preshow and Championships &mdash; June 18th - June 25th</li>
                        <li>Region V Championships &mdash; July 6th - July 10th</li>
                    </ul>
                    <p class="justified-indent">*Shows subject to change</p>
                    <hr>
                    <img src="modules/core/img/calendar-services-body-2" class="inline-img pull-right"></img>
                    <h1>Services</h1>
                    <ul>
                        <li>Private Lessons &mdash; Both on-site and FaceTime/Video lessons/consulting</li>
                        <li>Full Service Training</li>
                        <li>Sales</li>
                    </ul>
                    <hr class="clear">
                </div>
            </div>
        </div>
    </article>
</section>