<section data-ng-controller="ServicesController">
    <header class="intro-header darken-image" style="background-image: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 80, 0.4)), url('/modules/core/img/header-bg-3'); background-position: 0% 5%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Services</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2>Full-Service Board &mdash; $500 / Month</h2>
                    <p class="left-right-indent">Includes stall cleaning, twice-daily feeding, and a night check.</p>
                    <p class="left-right-indent">Additional fees for turn out, blanket washing, and lunging.</p>
                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>