<section data-ng-controller="TrainersController">
    <header class="intro-header darken-image" style="background-image: linear-gradient(rgba(0, 0, 80, 0.4), rgba(0, 0, 80, 0.4)), url('/modules/core/img/header-bg-2'); background-position: 0% 50%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Trainers</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2>McKenzie Tobeck</h2>
                    <p class="left-right-indent">Beginning in April 2016, McKenzie will begin training full time at Journeywood Farms. McKenzie has been competitively showing Arabian and Half-Arabian Horses for fourteen years and has garnered multiple national championships and reserve championships in the youth, amateur, and open divisions. She will be specializing in the training of Saddleseat, ShowHack, Hunter, and Western Pleasure horses. McKenzie is also passionate about bringing more youth riders into the Arabian Horse Association and is planning on teaching lessons to beginning riders of all ages.</p>
                    <hr>
                </div>
            </div>
        </div>
    </article>
</section>